{{!< default}}
<div class="header__menu">
    <div class="menu">
        <div class="linework linework__menu--white" />
        <div class="menu__window-container" aria-hidden="true">
            <div class="menu__window">
                <div class="menu__header">
                    <div class="menu__header-content">
                        <div class="linework linework__menu menu__header-linework">
                        </div>
                        <div class="menu__header-logo">
                            <a href="https://thediscoverer.com">
                                <img class="menu__logo-image" src="{{asset "images/logo-black.png"}}" alt="The Discoverer Logo" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="menu__nav-primary">
                    <a href="https://thediscoverer.com" class="menu__nav-primary-link">
                        Home
                    </a>
                    <a href="https://thediscoverer.com/story" class="menu__nav-primary-link">
                        Our Story
                    </a>
                    <a href="https://thediscoverer.com/destinations" class="menu__nav-primary-link">
                        Upcoming Destinations
                    </a>
                    <a href="https://thediscoverer.com/editions" class="menu__nav-primary-link">
                        Previous Editions
                    </a>
                </div>
                <hr class="menu__divider" />
                <div class="menu__nav-secondary">
                    <a href="https://thediscoverer.com/testimonials" class="menu__nav-secondary-link">
                        Testimonials
                    </a>
                    <a href="https://thediscoverer.com/dmca" class="menu__nav-secondary-link">
                        DMCA
                    </a>
                    <a href="https://thediscoverer.com/privacy" class="menu__nav-secondary-link">
                        Privacy Policy
                    </a>
                    <a href="https://thediscoverer.com/contact" class="menu__nav-secondary-link">
                        Contact Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header__background" style="background-image: url({{asset "images/header-hero-background.jpg"}}); background-size: cover;"></div>
<header class="header">
    <div class="header__logo">
        <a href="/">
            <img class="header__logo-image" src="{{asset "images/logo-white.png"}}" alt="The Discoverer Logo" />
        </a>
    </div>
    <nav class="navigation">
        <a class="navigation__link" href="/">All</a>
        <a class="navigation__link" href="/tag/discoveries">Discoveries</a>
        <a class="navigation__link" href="/tag/travel-tales">Travel Tales</a>
        <a class="navigation__link" href="/tag/guide-me">Guide Me</a>
        <a class="navigation__link" href="/tag/our-backpack">Our Backpack</a>
        <a class="navigation__link" href="/tag/discoverer-spotlight">Discoverer Spotlight</a>
    </nav>
</header>
<section class="hero">
    <div class="container container--1400 hero__content">
        <div class="hero__carousel">
            <div class="carousel">
                <article class="carousel__item">
                    <h3 class="carousel__subtitle">Guide Me</h3>
                    <h1 class="carousel__title">Lorem Ipsum Dolor Sit Amet Consectetuer Adipiscing Elit Sed Diam Nonummy Nibh.</h1>
                    <a href="">
                        <button class="button button__clear carousel__button">
                            Read More
                        </button>
                    </a>
                </article>
                <!-- <div class="hero__arrows">
                    <div class="linework linework__arrow linework__arrow--left"></div>
                    <div class="linework linework__arrow linework__arrow--right"></div>
                </div> -->
            </div>
            <div class="hero__progress">
                <!-- <div class="linework linework__progress"></div>
                <div class="linework linework__progress"></div>
                <div class="linework linework__progress"></div>
                <div class="linework linework__progress"></div>
                <div class="linework linework__progress"></div> -->
            </div>
        </div>
    </div>
</section>
<section class="featured">
    <div class="container featured__container">
        <article class="featured__item">
            <a href="/tag/">
                <h3 class="featured__subtitle">
                    Guide Me
                </h3>
            </a>
            <a href="">
                <h2 class="featured__title">
                    Trip To Iqaluit In Nunavut A Canadian Arctic City
                </h2>
                <p class="featured__text">
                    Brent Conrad talks with everyone from, frequent travelers to the busy family that can only get away for vacation every couple
                    of years.
                </p>
            </a>
        </article>
        <article class="featured__item">
            <a href="/tag/">
                <h3 class="featured__subtitle">
                    Travel Tales
                </h3>
            </a>
            <a href="">
                <h2 class="featured__title">
                    Trip To Iqaluit In Nunavut A Canadian Arctic City
                </h2>
                <p class="featured__text">
                    Brent Conrad talks with everyone from, frequent travelers to the busy family that can only get away for vacation every couple
                    of years.
                </p>
            </a>
        </article>
        <article class="featured__item">
            <a href="/tag/">
                <h3 class="featured__subtitle">
                    Discoveries
                </h3>
            </a>
            <a href="">
                <h2 class="featured__title">
                    Trip To Iqaluit In Nunavut A Canadian Arctic City
                </h2>
                <p class="featured__text">
                    Brent Conrad talks with everyone from, frequent travelers to the busy family that can only get away for vacation every couple
                    of years.
                </p>
            </a>
        </article>
    </div>
</section>
<section class="gallery">
    <div class="container container--1400 row gallery__container">
        <a href="" class="row__col-3 gallery__item" style="background-image: url({{asset "images/article-1.jpg"}}); background-size: cover;">
            <h4 class="gallery__title">
                Les Houches The Hidden Gem Of The Chamonix Valley
            </h4>
        </a>
        <a href="" class="row__col-3 gallery__item" style="background-image: url({{asset "images/article-2.jpg"}}); background-size: cover;">
            <h4 class="gallery__title">
                Three Ways To Get Travel Discounts
            </h4>
        </a>
        <a href="" class="row__col-3 gallery__item" style="background-image: url({{asset "images/article-3.jpg"}}); background-size: cover;">
            <h4 class="gallery__title">
                Trip To Iqaluit In Nunavut A Canadian Arctic City
            </h4>
        </a>
        <a href="" class="row__col-3 gallery__item" style="background-image: url({{asset "images/article-4.jpg"}}); background-size: cover;">
            <h4 class="gallery__title">
                Global Travel And Vacations Luxury Travel On A Tight Budget
            </h4>
        </a>
    </div>
</section>
<section class="itinerary">
    <div class="container itinerary__container">
        <article class="itinerary__content" style="background-image: url({{asset "images/article-1.jpg"}}); background-size: cover;">
            <div class="itinerary__details">
                <a href="">
                    <h2 class="itinerary__title">
                        Global Travel And Vacations Luxury Travel On A Tight Budget
                    </h2>
                    <p class="itinerary__text">
                        Brent Conrad talks with everyone from, frequent travelers to the busy family that can only get away for vacation every couple
                        of years.
                    </p>
                </a>
                <div class="itinerary__categories">
                    <a class="itinerary__category" href="">
                        Eating/Drinking
                    </a>
                    <a class="itinerary__category" href="">
                        Nightlife
                    </a>
                    <a class="itinerary__category" href="">
                        Adventure
                    </a>
                    <a class="itinerary__category" href="">
                        Shopping
                    </a>
                </div>
            </div>
        </article>
        <aside class="itinerary__schedule">
            <h1 class="itinerary__heading">
                My Weekend Itinerary in Valparaíso, Chile
            </h1>
            <ul class="itinerary__list">
                <li class="itinerary__item">
                    <div class="itinerary__thumbnail" style="background-image: url({{asset "images/categories-ourbackpack-background.jpg"}}); background-size: cover;"></div>
                    <h5 class="itinerary__subtitle">
                        Friday
                    </h5>
                    <p class="itinerary__text">
                        <span class="itinerary__text--highlight">8:00am</span> - Coastal Cruisin
                    </p>
                    <p class="itinerary__text">
                        “Catch a boat ride from Muelle Prat. You won’t find any luxury cruises here, but you’ll have a blast…”
                        <a href="" class="itinerary__link">Read More</a>
                    </p>
                </li>
                <li class="itinerary__item">
                    <div class="itinerary__thumbnail" style="background-image: url({{asset "images/categories-ourbackpack-background.jpg"}}); background-size: cover;"></div>
                    <h5 class="itinerary__subtitle">
                        Saturday
                    </h5>
                    <p class="itinerary__text">
                        <span class="itinerary__text--highlight">5:00am</span> - Let’s Take this Art to the Street
                    </p>
                    <p class="itinerary__text">
                        “Start the day off on the streets. You’ve heard of street art, but Valparaíso takes this concept to a whole new level…”
                        <a href="" class="itinerary__link">Read More</a>
                    </p>
                </li>
                <li class="itinerary__item">
                    <div class="itinerary__thumbnail" style="background-image: url({{asset "images/categories-ourbackpack-background.jpg"}}); background-size: cover;"></div>
                    <h5 class="itinerary__subtitle">
                        Sunday
                    </h5>
                    <p class="itinerary__text">
                        <span class="itinerary__text--highlight">8:00am</span> - I'm All the Way Up
                    </p>
                    <p class="itinerary__text">
                        “Valpo," as the locals call it, is built on a series of hills or “cerros”, making this city a vertical challenge…”
                        <a href="" class="itinerary__link">Read More</a>
                    </p>
                </li>
            </ul>
        </aside>
    </div>
</section>
<section class="categories">
    <div class="container container--1400 categories__container">
        <a href="/tag/discoverer-spotlight" class="categories__block-start" style="background-image: url({{asset "images/categories-spotlight-background.jpg"}}); background-size: cover;">
            <p class="categories__text">
                Discoverer Spotlight
            </p>
        </a>
        <div class="categories__block-wrapper">
            <a href="/tag/our-backpack" class="categories__block" style="background-image: url({{asset "images/categories-ourbackpack-background.jpg"}}); background-size: cover;">
                <p class="categories__text">
                    Our Backpack
                </p>
            </a>
            <a href="/tag/guide-me" class="categories__block" style="background-image: url({{asset "images/categories-guideme-background.jpg"}}); background-size: cover;">
                <p class="categories__text">
                    Guide Me
                </p>
            </a>
            <a href="/tag/travel-tales" class="categories__block" style="background-image: url({{asset "images/categories-traveltales-background.jpg"}}); background-size: cover;">
                <p class="categories__text">
                    Travel Tales
                </p>
            </a>
            <a href="/tag/discoveries" class="categories__block" style="background-image: url({{asset "images/categories-discoveries-background.jpg"}}); background-size: cover;">
                <p class="categories__text">
                    Discoveries
                </p>
            </a>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__column">
            <h5 class="footer__title">
                Popular Articles
            </h5>
            <ul class="footer__list">
                <li class="footer__item footer__item--article">
                    <a class="footer__text footer__link" href="">
                        Did You Know That Airport Hotels Are The Right Way To Start A Short Break Holiday
                        <div class="footer__thumbnail" style="background-image: url({{asset "images/article-2.jpg"}}); background-size: cover;"></div>
                    </a>
                </li>
                <li class="footer__item footer__item--article">
                    <a class="footer__text footer__link" href="">
                        Global Resorts Network Grn Putting Timeshares To Shame
                        <div class="footer__thumbnail" style="background-image: url({{asset "images/article-3.jpg"}}); background-size: cover;"></div>
                    </a>
                </li>
                <li class="footer__item footer__item--article">
                    <a class="footer__text footer__link" href="">
                        Cheap Romantic Vacations
                        <div class="footer__thumbnail" style="background-image: url({{asset "images/article-4.jpg"}}); background-size: cover;"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h5 class="footer__title">
                Magazine
            </h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/discoveries">
                        Discoveries
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/travel-tales">
                        Travel Tales
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/guide-me">
                        Guide Me
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/our-backpack">
                        Our Backpack
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="/tag/discoverer-spotlight">
                        Discoverer Spotlight
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h5 class="footer__title">
                Connect
            </h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <div class="footer__social">
                        <a class="footer__social-link" href="https://www.instagram.com/thedscvrr">
                            <img src="{{asset "images/icon-instagram.png"}}" alt="Instagram Logo" class="footer__social-image">
                        </a>
                        <a class="footer__social-link" href="https://www.facebook.com/thedscvrr">
                            <img src="{{asset "images/icon-facebook.png"}}" alt="Facebook Logo" class="footer__social-image">
                        </a>
                        <a class="footer__social-link" href="https://twitter.com/thedscvrr">
                            <img src="{{asset "images/icon-twitter.png"}}" alt="Twitter Logo" class="footer__social-image">
                        </a>
                    </div>
                </li>
                <li class="footer__item footer__question">
                    Want to write for The Discoverer?
                    <a class="footer__link-question" href="">Learn more here!</a>
                </li>
            </ul>
        </div>
        <div class="footer__column">
            <h5 class="footer__title">
                The Discoverer
            </h5>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__text footer__link" href="https://thediscoverer.com">
                        TheDiscoverer.com
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="https://thediscoverer.com/story">
                        Our Story
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="https://thediscoverer.com/editions">
                        Previous Editions
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="https://thediscoverer.com/destinations">
                        Upcoming Destinations
                    </a>
                </li>
                <li class="footer__item">
                    <a class="footer__text footer__link" href="https://thediscoverer.com/testimonials">
                        Testimonials
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

