{{!< default}}

{{> "banner"}}

{{#post}}
<div class="post">
    <div class="hero hero__post">
        <div class="hero__background" style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{asset 'images/header-hero-background.jpg'}}{{/if}}); background-size: cover;"></div>
        <div class="hero__content">
                <h3 class="hero__subtitle">
                    {{#primary_tag}}
                        <a class="hero__link" href={{url}}>
                            {{name}}
                        </a>
                    {{/primary_tag}}
                </h3>
                <h1 class="hero__title">
                    {{title}}
                </h1>
        </div>
    </div>
    <div class="post__content">
        {{content}}
    </div>
</div>
{{/post}}