{{!< default}}

{{> "banner"}}

{{#post}}
<div class="post">
    <div class="hero hero__post">
        <div class="hero__background" style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{asset 'images/header-hero-background.jpg'}}{{/if}}); background-size: cover;"></div>
        <div class="hero__content">
                <h3 class="hero__subtitle">
                    {{#primary_tag}}
                        <a class="hero__link" href={{url}}>
                            {{name}}
                        </a>
                    {{/primary_tag}}
                </h3>
                <h1 class="hero__title">
                    {{title}}
                </h1>
        </div>
    </div>
    <div class="post__content">
        <div class="post__header">
            <div class="post__date">
                {{date published_at format="MMM DD, YYYY"}}
            </div>
            <div class="post__categories">
                {{#foreach tags limit="6"}}
                    <a class="post__category" href="{{url}}">
                        {{name}}
                    </a>
                {{/foreach}}
            </div>
        </div>
        {{content}}

        {{> "modal"}}

        <div class="post__module">
            <div class="post__module-container">
                <div class="post__module-content post__module-content--no-padding">
                    <a href="#0" class="post__module-link">
                        <div class="post__module-title">
                            Want more? Receive our weekly editions!
                        </div>
                    </a>
                </div>
                <div class="post__module-subscribe">
                    <form class="post__module-form">
                        <input type="text" name="email" placeholder="Enter Email Address" class="post__module-input" />
                        <button type="submit" class="post__module-button">
                            <img class="post__module-button-icon" src="/assets/images/icon-arrow.png" alt="Submit Email Address Button">
                        </button>
                    </form>
                </div>
            </div>
        </div>

<div class="post__module">
    <div class="post__module-container">
        <div class="post__module-thumbnail">
            <a href="https://bather.com" class="post__module-link">
                <img src="https://customers.seometamanager.com/knowledgegraph/logo/bather-2_myshopify_com_logo.jpg" alt="" class="post__module-thumbnail-image" />
            </a>
        </div>
        <div class="post__module-content">
            <a href="https://bather.com" class="post__module-link">
                <div class="post__module-title">
                    <span class="post__module--bold">About the author: </span>
                    Bather.com | Creator of this cool product plus more products and more than more
                </div>
            </a>
        </div>
        <div class="post__module-social post__module-social--l-padding">
            <div class="social">
                <a
                    class="social__item"
                    href="https://www.instagram.com/thedscvrr"
                    target="_blank"
                >
                    <img class="social__image" src="/assets/images/icon-instagram--grey.png" />
                </a>
                <a
                    class="social__item"
                    href="https://www.facebook.com/thedscvrr"
                    target="_blank"
                >
                    <img class="social__image" src="/assets/images/icon-facebook--grey.png" />
                </a>
                <a
                    class="social__item"
                    href="https://twitter.com/thedscvrr"
                    target="_blank"
                >
                    <img class="social__image" src="/assets/images/icon-twitter--grey.png" />
                </a>
            </div>
        </div>
    </div>
</div>

        <div class="post__module">
            <div class="post__module-container">
                <div class="post__module-thumbnail post__module-thumbnail--fix-top">
                    <a href="https://bather.com" class="post__module-link">
                        <img src="https://customers.seometamanager.com/knowledgegraph/logo/bather-2_myshopify_com_logo.jpg" alt="" class="post__module-thumbnail-image" />
                    </a>
                </div>
                <div class="post__module-content">
                    <a href="https://bather.com" class="post__module-link">
                        <div class="post__module-title">
                            <span class="post__module--bold">About the author: </span>
                            Bather.com
                        </div>
                        <div class="post__module-text">
                            Launched in 2013, Bather began as a journey to create the perfect poolside compliment to a well-curated closet of essentials. Good trunks are hard to find. We made it easy for you. Our products are designed for you to look and feel your best, whether on or off the beach. If you have any questions or comments, please don't hesitate to get in touch.
                        </div>
                    </a>
                    <div class="post__module-social post__module-social--padding">
                        <div class="social">
                            <a
                                class="social__item"
                                href="https://www.instagram.com/thedscvrr"
                                target="_blank"
                            >
                                <img class="social__image" src="/assets/images/icon-instagram--grey.png" />
                            </a>
                            <a
                                class="social__item"
                                href="https://www.facebook.com/thedscvrr"
                                target="_blank"
                            >
                                <img class="social__image" src="/assets/images/icon-facebook--grey.png" />
                            </a>
                            <a
                                class="social__item"
                                href="https://twitter.com/thedscvrr"
                                target="_blank"
                            >
                                <img class="social__image" src="/assets/images/icon-twitter--grey.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> "gallery"}}

{{/post}}